@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Playfair+Display:wght@500;700&display=swap');

@import './base.css';
@import './layout.css';
@import './nav-footer.css';
@import './components.css';
@import './home.css';
@import './contact.css';
@import './responsive.css';

